.boardCell {
  width: 90px;
  height: 90px;

  outline: 2px solid #d12e22;
  display: inline-flex;
}
.checked {
  background-image: radial-gradient(circle, #b3e5fc, yellow);
}
.attacked {
  background-image: radial-gradient(circle, #ef9a9a, red);
}
.current {
  background-image: radial-gradient(circle, #fff176, pink);
}
.present {
  background-image: radial-gradient(circle, #dce775, #43a047);
}
.booard {
  font-size: 0;
}
